body{
  background-color:#1b5e28;
}
#game-area{
display:flex;
flex-direction: column;
background-color: blue;
max-width: 1920px;
max-height: 1080px;
margin-left: auto;
margin-right: auto;
border: black;
border-style: solid;

}


#game-board{
  position: relative;
   background-color: #ffff00;
  border: black;
  border-style: solid;
  flex-basis: 80%;
  
  
  
}
.background{
  object-fit: contain;
  height: 100%;
  width: 100%;
}

#menu-area{
  display: flex;
  position:relative;
  background-color: brown;
   color:aliceblue
}
.player-board{
  display: flex;
  
}

.players{
  height:17%;
  width:7%;
  background-color: blue;
  opacity: 50%;
  text-align: center;
}
.dealer{
  position: absolute;
  top:35%;
  left:50%;
  transform: translate(-50%, -50%);
  background-color: rgb(174, 36, 135);
}
.player1{
  position: absolute;
  top:48%;
  left:15%;
  transform: translate(-50%, -50%) rotate(50deg);
 }
 .player2{
  position: absolute;
  top:65%;
  left:27.5%;
  transform: translate(-50%, -50%) rotate(27deg);
 }
 .player3{
  position: absolute;
  top:73%;
  left:42.4%;
  transform: translate(-50%, -50%) rotate(7deg);
 }
 .player4{
  position: absolute;
  top:72.5%;
  left:57.8%;
  transform: translate(-50%, -50%) rotate(-10deg);
 }
 .player5{
  position: absolute;
  top:62%;
  left:73%;
  transform: translate(-50%, -50%) rotate(-37deg);
 }
 .player6{
  position: absolute;
  top:44%;
  right:8.5%;
  transform: translate(-50%, -50%) rotate(-50deg);
 }


.deck{
position: absolute;
height:17%;
width:7%;
background-color: yellowgreen;
top: 6%;
right: 10%;
}